<app-layout>
  <ng-container header>
    <button mat-raised-button color="primary" [routerLink]="['create']">
      <mat-icon>playlist_add</mat-icon>Create New
    </button>

    <div class="dropdown-container">
      <div class="cont">
        <app-dropdown
          *ngIf="talentDropdownOptions.length > 0"
          label="Talents"
          [options]="talentDropdownOptions"
        >
        </app-dropdown>
      </div>
      <div class="cont">
        <app-dropdown label="Priority" [options]="priorityDropDownOptions">
        </app-dropdown>
      </div>

      <div class="cont">
        <app-dropdown
          *ngIf="productionDropdownOptions.length > 0"
          label="Production"
          [options]="productionDropdownOptions"
        >
        </app-dropdown>
      </div>
      <div class="cont">
        <app-dropdown
          *ngIf="statusDropDownOptions.length > 0"
          label="Status"
          [options]="statusDropDownOptions"
        >
        </app-dropdown>
      </div>
    </div>

    <app-search (searchTextChanged)="onSearchTextEntered($event)"></app-search>
  </ng-container>
  <ng-container>
    <!-- <app-task-list [searchedValue]="searchText"></app-task-list> -->
    <app-request-list [searchedValue]="searchText"></app-request-list>
  </ng-container>
</app-layout>
