@import 'src/scss/variables';

form {
    min-width: 150px;
    max-width: 500px;
    width: 300px;
    height:73px;
    background-color: white;
    top: 10%;
    border: solid $background-color 1px;
    border-radius: 5px;
  }
  
  .example-full-width {
    width: 100%;
  }
  mat-icon{
    // margin-bottom: 5px;
    color: $gray;
    position: absolute;
    right: 0;
    bottom: 17px;
    font-size: 40px;
    height: 40px;
    width: 40px;
  }