@use '@angular/material' as mat;
@import 'src/scss/variables';

:host {
  position: relative;
  height: 1rem;
}

input {
  background-color: mat.get-color-from-palette($md-primary-pallette, 500);
  border-radius: 5px;
  border: $border;
  color: $text-color;
}
mat-icon {
  color: $gray;
  position: absolute;
  right: 0;
  bottom: 1px;
}
.icon{
  bottom:12px;
}

mat-option {
  color: $text-color;
}
select {
  background-color: $background-color;
}
::ng-deep .mat-tooltip {
  font-size: 15px;
}
