@import 'src/scss/variables';

// app-box-container {
//     // margin: auto;
//     padding: 5px;
//   }
  .container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  mat-card {
    border-style: solid;
    border-width: 1px;
    border-color: $border;
    padding: 0%;
    height: 100%;
    margin: 5px;
    border-radius: 5px;
    mat-card-title{
        background-color: #cdd48b;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
    }
  }

  .cont {
    margin-right: 5px;
    size: 50px;
  }

.dropdown-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    size: 20px;
}
.header{
    display: flex;
    justify-content: space-between;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
    // overflow: auto;
}
.box1{
    // border: red solid 1px;
    // margin: px;
    width: 100%;
    height: 100%;
    margin-top: -5px;
}
.box2{
    // border: red solid 1px;
    margin-top: -10px;
    margin-right: -5px;
    padding: 5px;
    // width: 100%;
    // height: 100%;
}
.right-box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px;

}
// .cal{
//     border: red solid 1px;

// }
.category{
    width: 100%;
}
tr{
    border: green solid 1px;

}