<div class="appbar">
  <mat-toolbar>
    <span>Contract Details</span>

    <!-- <div class="cont">
        <input class="important" list="options1" placeholder="Production Company" required/>
      <datalist id="options1">
        <option
          [value]="option.value"
          *ngFor="let option of productionCompanyName"
        ></option>
      </datalist>
    </div>
    <div class="cont">
        <input class="important" list="options2" placeholder="Project Name" required/>
        <datalist id="options2">
          <option
            [value]="option.value"
            *ngFor="let option of talentNames"
          ></option>
        </datalist>
      </div>
      <div class="cont">
        <input class="important" list="options3" placeholder="Talent Name" required/>
        <datalist id="options3">
          <option
            [value]="option.value"
            *ngFor="let option of projectNames"
          ></option>
        </datalist>
      </div>  -->

    <app-contract-dropdown
      label="Production Company"
      [options]="productionDropdownOptions"
      (id)="getProjects($event)"
    >
    </app-contract-dropdown>
    <app-contract-dropdown
      label="Project Name"
      [options]="projectDropdownOptions"
      (id)="getTalents($event)"
    >
    </app-contract-dropdown>
    <app-contract-dropdown
      label="Talent Name"
      [options]="talentDropdownOptions"
      (id)="getContract($event)"
    ></app-contract-dropdown>

    <div class="cont">
      Production: <br />
      {{ contractNo }}
    </div>
    <div class="cont">Date<mat-icon>calendar_today</mat-icon></div>
  </mat-toolbar>

  <div class="container">
    <div class="box1">
      <app-report-category></app-report-category>
    </div>
    <div class="box2">
      <div class="right-box">
        <div class="cal">
          <app-important-dates></app-important-dates>
        </div>
        <div class="doc">
          <app-documents-dossier></app-documents-dossier>
        </div>
      </div>
    </div>
  </div>
</div>
