@import 'src/scss/variables';
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;
  margin-top: 17px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;

  // overflow: auto;
}
.box1 {
  // border: red solid 1px;
  // margin: px;
  width: 100%;
  height: 100%;
  margin-top: -5px;
}
.box2 {
  // border: red solid 1px;
  margin-top: -10px;
  margin-right: -5px;
  padding: 5px;
  // width: 100%;
  // height: 100%;
}
.right-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  // padding: 5px;
  margin-bottom: 5px;
}
.cal {
  margin-bottom: 7px;
}
.doc {
  margin-top: 7px;
}
// .category{
//     width: 100%;
// }
// tr{
//     border: green solid 1px;

// }

mat-toolbar {
  background-color: #cdd48b;
  display: flex;
  justify-content: space-around;
  height: auto;
  padding: 10px;
  border-bottom: solid black 1px;
}

.appbar {
  border-style: solid;
  border-width: 1px;
  border-color: $border;
  // max-height: 100%;
  //   margin: 10%;
  height: 100%;
  // margin-top: 5px;
  border-radius: 5px;
  height: 100%;
  // border: solid red 1px;
  margin: 0 5px 5px 5px;
}
