<p>messagedialog works!</p>
<!-- <app-message [taskId]="taskId"></app-message> -->

<app-box-container class="message-container">
  <div Class="header" header>
    <mat-icon>account_box</mat-icon>
    <button (click)="reloadMessages()"><mat-icon>refresh</mat-icon></button>
  </div>

  <div ngClass="message-text-container">
    <div
      *ngFor="let message of messages"
      [ngClass]="{
        from: message.fromUserName === userProfileName,
        to: message.fromUserName !== userProfileName
      }"
    >
      <p>{{ message.messageText }}</p>
      <div>
        <p
          [ngClass]="{
            'message-timestamp-right': message.fromUserName === userProfileName,
            'message-timestamp-left': message.toUserName !== userProfileName
          }"
        >
          {{ message.createdAt | date: 'short' }}
        </p>
      </div>
    </div>
  </div>

  <div class="message-footer">
    <textarea
      #message
      class="message-input"
      [(ngModel)]="messageValue"
      (ngModelChange)="onMessage($event)"
    ></textarea>
    <button (click)="sendMessage($event)">
      <mat-icon>send</mat-icon>
    </button>
  </div>
</app-box-container>
