@import 'src/scss/variables';
.cont {
    margin-left: 0.4rem;
  }

  .dropdown-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .icon {
    margin-right: 0.5rem;
  }
.header{
    display: flex;
    justify-content: space-between;
}

.request{
    background-color: $background-color;
    align-items:  center;
}

button{
    // border : red solid 1px;
    margin-right: 1rem;
}

